<!-- Sequence: 9 -->

#set ($SITE_ROOT = $content.getURI(''))

<!-- templates/screens/topBar/Administer/XSyncAdmin.vm -->

##<li><a href="${SITE_ROOT}/app/template/Page.vm?view=xsync">XSync Administration</a></li>

##<script>
##    // This will render the yaml to the existing Site Admin page instead of it's own page
##    (function(){
##        XNAT.spawner.resolve('xsyncSiteConfiguration/xsyncConfigPage').render($('#admin-config-tabs').find('.xnat-tab-container'));
##    })();
##</script>
